.swiper {
  .swiper-button-prev {
    background-image: url(../../assets/button-prev.svg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: white;
    padding: 14px;
    width: 40px;
    height: 40px;
    left: calc(50% - 370px);
    border-radius: 50%;
    box-shadow: 1px 1px 5px grey;
  }
  .swiper-button-next {
    background-image: url(../../assets/button-next.svg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: white;
    padding: 14px;
    width: 40px;
    height: 40px;
    right: calc(50% - 370px);
    border-radius: 50%;
    box-shadow: 1px 1px 5px grey;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}


/* // in under 850px */
@media (max-width: 850px) {
  .swiper {
    .swiper-button-prev {
      left: calc(50% - 300px);
      /* background-color: red; */
    }
    .swiper-button-next {
      right: calc(50% - 300px);
    }
  }
}
@media (max-width: 650px) {
  .swiper {
    .swiper-button-prev {
      left: calc(50% - 250px);
      /* background-color: red; */
    }
    .swiper-button-next {
      right: calc(50% - 250px);
    }
  }
}
@media (max-width: 500px) {
  .swiper {
    .swiper-button-prev {
      left: calc(50% - 200px);
      /* background-color: red; */
    }
    .swiper-button-next {
      right: calc(50% - 200px);
    }
  }
}

@media (max-width: 420px) {
  .swiper {
    .swiper-button-prev {
      left: calc(50% - 180px);
      /* background-color: red; */
    }
    .swiper-button-next {
      right: calc(50% - 180px);
    }
  }
}
@media (max-width: 330px) {
  .swiper {
    .swiper-button-prev {
      left: calc(50% - 160px);
      /* background-color: red; */
    }
    .swiper-button-next {
      right: calc(50% - 160px);
    }
  }
}